# Gets commited to github, (acts as a TEMPLATE)
#Contains no real secrets and serves 2 purposes.
#1. Documents exactly waht variables this app needs with exact names
#2. bin/setup.sh will literally copy this file to create a real .env file for anyone who doesn't have one

#Dont have spaces
DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/medflow
SECRET_KEY=
FRONTEND_ORIGIN=http://localhost:5173
